<div class="mid">
  <h3 *ngIf="!character && !errorMessage">Cargando...</h3>
  <h3 *ngIf="errorMessage">{{errorMessage}}</h3>
  <div class="card" *ngIf="character">
    <img *ngIf="character.checkImage()" [src]="character.imageLink" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>{{character.name}}</b></h4>
      <p *ngIf="character.house">Casa: {{character.house}}</p>
      <p *ngIf="character.slug">Slug: {{character.slug}}</p>
      <p>Libros: {{character.getAllBooks()}}</p>
      <p>Títulos: {{character.getAllTitles()}}</p>
    </div>
  </div>
</div>