
.mid {
  display: block;
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem;
}
/* box-shadow */
%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  > li {
    text-align: center;
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    cursor: pointer;
  }
}
.search {
  width: 100%;
}
.button-paginate{
  display: flex;
  align-items: center;
  justify-content: center;
}