<div class="mid">
  <ng-container *ngIf="tempCharacters.length > 0">
    <input [value]="query" placeholder="Nombre ó Casa" (keyup)='updateList($event)' class="search">
    <ol class="gradient-list">
      <li *ngFor="let character of characters" (click)="openView(character.id)">{{character.name}}</li>
    </ol>
    <div class="button-paginate">
      <button type="button" (click)="paginateList(actualPage - 1, this.paginateWithSearch)" [disabled]="actualPage === 0">Anterior</button>
      <button type="button" (click)="paginateList(actualPage + 1, this.paginateWithSearch)" [disabled]="this.blockNexPage">Posterior</button>
    </div>
    <p>Página {{actualPage + 1}}</p>
  </ng-container>
  <p *ngIf="!tempCharacters.length">Cargando...</p>
  <div *ngIf="errorMessage">{{errorMessage}}</div>
</div>